@{
    Layout = "../Shared/_LayoutBlank.cshtml";
    ViewData["Title"] = "Forgot Password";
}


@section Styles {
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--Custom style.css-->
    <link rel="stylesheet" href="~/css/quicksand.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.css">
}

<div class="login-body">

    <!--Login Wrapper-->

    <div class="container-fluid login-wrapper">
        <div class="login-box">
            <h1 class="text-center mb-5"><i class="fa fa-rocket text-primary"></i> Admin</h1>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12 login-box-info">
                    <h3 class="mb-3">Can't remember?</h3>
                    <h4 class="mb-3">or</h4>
                    <p class="text-center"><a asp-area="Supplier" asp-controller="User" asp-action="Login" class="btn btn-light">Login</a></p>
                    <p class="text-center"><a asp-area="Supplier" asp-controller="User" asp-action="Login" class="btn btn-light">Register</a></p>
                </div>
                <div class="col-md-6 col-sm-6 col-12 login-box-form p-4">
                    <h3 class="mb-4">Forgot password</h3>
                    <form action="" class="mt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control mt-0" placeholder="Email address" aria-label="enail" aria-describedby="basic-addon1">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-theme btn-block p-2 mb-1">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Page JavaScript Files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <!--Popper JS-->
    <script src="~/js/popper.min.js"></script>
    <!--Bootstrap-->
    <script src="~/js/bootstrap.min.js"></script>

    <!--Custom Js Script-->
    <script src="~/js/custom.js"></script>
}
