<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>@ViewData["Title"] - Maarquest Supplier</title>


    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>

